DISCORD_BOT_TOKEN=your_bot_token_here
TARGET_URL=https://example.com
GUILD_ID=123456789012345678
CHANNEL_ID=123456789012345678
CDP_PORT=9229
SWARM_TOPIC=
SWARM_ROLE=host
CDP_PROXY_PORT=9230
WS_AUDIO_PORT=9888
